form{ 
 background-color:lightblue;
 padding: 15px;
 padding-top: 1px;
 border-radius: 5px; 
}

body{
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
}

.container{
  position: relative;
  border-radius: 5px; 
  width: 350px;
  height: 100px;
}

input[type="text"], [type="password"], [type="email"], [type="tel"]{
  width:250px;
  height:20px;
}

button{
    background-color: slategray;
}
