td, th{
  border: 2px solid #000000;
  padding: 5px;
  text-align: middle;
}

body{
	display:flex;
	height: 100vh;
}

table {
  border-collapse: collapse;/*prevent space in between the table*/
  font-family: monospace;
  background-color: lightcyan;
  text-align: center;
	margin: auto;/*align content horizontally*/
	display: block;
	overflow-y: scroll;
	height: 300px;
	width: 60%;
	margin-top: 50px;
}

table td{
  width:100%;
}

button{
	color: white;
	background-color: darkblue;
	border: none;
	padding:8px;
	font-size: 13px;
}

html{
	background-color: lightyellow;
}

div{
	padding: 10px;
	margin: auto;
	background-image: url("images/bg.jpg");
	background-repeat: no-repeat;
	background-size: 1500px 900px;
	width:75%;
	height:70%;
}

/*Adjust the size of table column*/
table th:nth-child(1),
table td:nth-child(1) {
  width: 5%;
}

table th:nth-child(2),
table td:nth-child(2) {
  width: 20%;
}

table th:nth-child(3),
table td:nth-child(3) {
  width: 15%;
}

table th:nth-child(4),
table td:nth-child(4) {
  width: 35%;
}

table th:nth-child(5),
table td:nth-child(5) {
  width: 15%;/
}

table th:nth-child(6),
table td:nth-child(6) {
  width: 10%;
}




